@page "/vehiculos/{idV}/poliza"

@inject NavigationManager Navegador
@inject ListarPolizasUseCase listarPolizas
@inject ListarVehiculosUseCase listarVehiculos
@inject EliminarPolizaUseCase eliminarPoliza

<h3>Listado de polizas </h3>

<NavLink href="/poliza" type="button" class="btn btn-success">Agregar Poliza</NavLink>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ID Vehiculo</th>
        <th scope="col">Valor Asegurado</th>
        <th scope="col">Franquicia</th>
        <th scope="col">Tipo de Cobertura</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col">&nbsp;</th> 
    </tr>
  </thead>
  <tbody>
        <tr>
            <td>@poliza.Id</td>
            <td>@poliza.VehiculoId</td>
            <td>@poliza.ValorAsegurado</td>
            <td>@poliza.Franquicia</td>
            <td>@poliza.Cobertura</td>
            <td>@poliza.Fecha_inicio</td>
            <td>@poliza.Fecha_fin</td>
            <td>
                <button class="btn btn-primary" @onclick="()=>ModificarPoliza(poliza.Id)">
                    <span class="oi oi-pencil"></span>
                </button>
                <button class="btn btn-danger" @onclick="()=>EliminarPoliza(poliza.Id)">
                    <span class="oi oi-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public string? idV {get; set;}
    Poliza poliza = new Poliza();
    Vehiculo vehiculo = new Vehiculo();
    protected override void OnInitialized()
    {
        #nullable disable
        poliza = listarPolizas.Ejecutar().Where(n => n.VehiculoId == int.Parse(idV)).SingleOrDefault();
        vehiculo = listarVehiculos.Ejecutar().Where(n => n.Id == int.Parse(idV)).SingleOrDefault();
        #nullable restore
    }
    private void EliminarPoliza(int id)
    {
        eliminarPoliza.Ejecutar(id);
        Navegador.NavigateTo(Navegador.Uri, forceLoad: true);
    }
    private void ModificarPoliza(int id)
    {
        Navegador.NavigateTo($"editPoliza/{id}");
    }
}