@page "/titulares"

@inject NavigationManager Navegador
@inject ListarTitularesUseCase listarTitulares
@inject EliminarTitularUseCase eliminarTitular
@inject ModificarTitularUseCase modificarTitular
@inject ListarTitularesConSusVehiculosUseCase listarVehiculosTitular

<h3>Listado de titulares </h3>

<NavLink href="/titular" type="button" class="btn btn-success">Agregar Titular</NavLink>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Cant. Vehiculos</th>
        <th scope="col">&nbsp;</th> 
    </tr>
  </thead>
  <tbody>
        @foreach (var titular in _lista)
        {
            <tr>
                <td>@titular.Id</td>
                <td>@titular.Apellido</td>
                <td>@titular.Nombre</td>
                <td>@titular.DNI</td>
                <td>@titular.Direccion</td>
                <td>@titular.Telefono</td>
                <td>@titular.Correo</td>
                <td>@titular.Vehiculos?.Count()</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarTitular(titular.DNI)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>EliminarTitular(titular.DNI)">
                        <span class="oi oi-trash"></span>
                    </button>
                    <button type="button" class="btn btn-secondary" @onclick="()=>VehiculosTitular(titular.Id)">Ver Vehiculos</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Titular> _lista = new List<Titular>();

    protected override void OnInitialized()
    {
        _lista = listarTitulares.Ejecutar();
    }
    private void EliminarTitular(int dni)
    {
        eliminarTitular.Ejecutar(dni);
        Navegador.NavigateTo(Navegador.Uri, forceLoad: true);
    }
    private void ModificarTitular(int dni)
    {
        Navegador.NavigateTo($"titular/{dni}");
    }
    private void VehiculosTitular(int idT)
    {
        Navegador.NavigateTo($"vehiculos/{idT}"); //veo los vehiculos de un titular en particular
    }
}