@page "/terceros"
@inject ListarTercerosUseCase listarTerceros;

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Aseguradora</td>
            <td>Telefono</td>
            <td>Siniestro</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var titular in _lista)
        {
            <tr>
                <td>@titular.Id</td>
                <td>@titular.Nombre</td>
                <td>@titular.Apellido</td>
                <td>@titular.Telefono</td>
                <td>@titular.Aseguradora</td>
                <td>@titular.SiniestroId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Tercero> _lista= new List<Tercero>();
    protected override void OnInitialized()
    {
        _lista = listarTerceros.Ejecutar();
    }
}